.guest-header-container {
    justify-content: space-between;
    height: inherit;

    .guest-header-home {
        line-height: 80px;
        margin: 0 20px;
        padding: 0 20px;

        a {
            font-size: 46px;
            text-decoration: none;
        }
    }

    .guest-header-other {
        margin: 0 20px;
        padding: 0 20px;
        right: 0;

        li {
            display: inline-block;
            list-style: none;

            a {
                &:hover {
                    background-color: #077292;
                    color: orange !important;
                    transition: linear .15s !important;
                }
            }

            a {
                padding: 0 22px;
                display: block;
                line-height: 80px;
                font-size: 24px;
                text-decoration: none;
            }
        }
    }
}